<%= form_with(model: produto, local: true) do |form| %>
  <% if produto.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(produto.errors.count, "erro impede", "erros impedem") %> a criação deste produto:</h2>
      <ul>
      <% produto.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :nome %>
    <%= form.text_field :nome, id: :produto_nome %>
  </div>

  <div class="field">
    <%= form.label :descricao, "Descrição" %>
    <%= form.text_area :descricao, id: :produto_descricao %>
  </div>

  <div class="field">
    <%= form.label :quantidade %>
    <%= form.number_field :quantidade, id: :produto_quantidade %>
  </div>

  <div class="field">
    <%= form.label :preco, "Preço" %>
    <%= form.text_field :preco, id: :produto_preco %>
  </div>

  <div class="actions">
    <%= form.submit "Salvar Produto" %>
  </div>
<% end %>
